.vertikal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1%;
}

.formbreit {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

h2{
  color: green;
}

.form-container{
  background-color: darkslategrey;
  padding: 50px;
  margin:20px

}

.inputbreit {
  width: 100%;
}

#fileUpload {
  position: absolute;
  z-index: 9;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  cursor: pointer;
}

#create-post{
  min-height: calc(100vh - 56px);
}

#create-post video, #create-post canvas {
  width: 512px;
  max-width: 100%;
  display: none;
  margin: auto;
}



#create-post #capture-btn {
  margin: 10px auto;
}

.mdl-spinner {
  margin: auto;
}
