<div id="create-post" class="container" novalidate>
  <div class="form-container">
    <h2>Pflanze hinzufügen</h2>
    <form [formGroup]="formGroup">
      <mat-form-field class="form-field" appearance="standard">
        <mat-label>Name der Pflanze</mat-label>
        <input matInput placeholder="Titel" formControlName="inp_title" />
        <mat-error *ngIf="!inp_title.valid && inp_title.touched">
          <span *ngIf="inp_title.errors?.required"
          >Dieses Feld ist ein Pflichtfeld</span
          >
        </mat-error>
      </mat-form-field>

      <video id="player" autoplay></video>
      <canvas id="canvas" width="320px" height="240px"></canvas>
      <button mat-raised-button
        (click)="initializeMedia()"
        id="camera-btn"
      >
        Kamera aktivieren
      </button>
      <button mat-raised-button
        (click)="captureImage()"
        id="capture-btn"
      >
        Foto aufnehmen
      </button>
      <div id="pick-image" style="display: none">
        <mat-form-field class="form-field inputbreit" appearance="standard">
          <input matInput readonly id="file_name" placeholder="Browse image file" />
          <input type="file" id="fileUpload" (change)="uploadFileEvt($event)" formControlName="inp_image" multiple="multiple" accept="image/*" />
        </mat-form-field>
      </div>


      <mat-form-field id="manual-location">
        <input matInput type="text"  id="location">
        <mat-label for="location" name="location">Fundort der Pflanze</mat-label>
      </mat-form-field>

      <button mat-raised-button (click)="initializeLocation();getLocation()" type="button" id="location-btn">Aktuelle Position verwenden</button>
      <div id="location-loader"></div>
    </form>

    <button mat-stroked-button
      (click)="onSubmit()"
      color="default"
      class="last-button"
      [disabled]="!formGroup.valid"
    >
      Add post
    </button>
  </div>
</div>
