

.floating-button{
  float: right;
  padding: 20px;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  max-width: 710px;
  margin: 0 auto;
}

.polaroid{
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 30px
}

#share-image-button{
  color:green;
  border-radius: 75px;
  border-color: black;
}

.material-icons{
  padding-top: 4px;
}



