
<div class="container" novalidate>
  <div *ngFor="let plant of allPlants">
    <mat-card class="polaroid">
      <mat-card-header>
        <mat-card-title>{{plant.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]=imageSrc(plant.image) alt="Foto">
      <mat-card-content>
        <p>
          {{plant.location}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<div class="floating-button">
  <button mat-raised-button 
          id="share-image-button" routerLink="/create" routerLinkActive="active">
    Add
  </button>
</div>
